@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(modal.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 924px){
    .px924\:block{
      display: block;
    }
  
    .px924\:flex{
      display: flex;
    }
  
    .px924\:hidden{
      display: none;
    }
  
    .px924\:basis-1\/6{
      flex-basis: 16.666667%;
    }
  
    .px924\:translate-y-0{
      --tw-translate-y: 0px;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  
    .px924\:flex-nowrap{
      flex-wrap: nowrap;
    }
  
    .px924\:justify-start{
      justify-content: flex-start;
    }
}

.h-104 {
    min-height: 26rem;
}

.offset-clicked {
    --handleoffset: -1.5rem;
}

.theme-cust {
    justify-content: flex-end;
}

.main-content {
    position: relative;
    top: 8%;
    width: 100%;
    min-height: 90vh;
    left: 50%; /* Move the element 50% from the left edge */
    transform: translateX(-50%); /* Center it horizontally */
}


.collapse-arrow > .collapse-title:after{
    /* position: unset; */
    --tw-translate-y: -190%;
    --tw-rotate: -45deg;
    pointer-events: pointer;
    transform-origin: unset;
  }

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]){
    min-height: auto;
}

.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after{
    --tw-translate-y: -260%;
    --tw-rotate: 45deg;
}

.main-content {
    min-height: 100vh;
}

.svg-bg {
    position: absolute;
    top: 30%;
    /* z-index: 5; */
    pointer-events: none;
}

/* .dev-stamp-sm {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 5rem;
    line-height: 1;
    opacity: 10%;
    transform: rotate(-30deg) translateX(-55%);
    pointer-events: none;
    z-index: 999;
}
  
@media (min-width: 885){
    .md\:dev-stamp-md {
      position: absolute;
      top: 15%;
      left: 50%;
      font-size: 7rem;
      line-height: 1;
      opacity: 10%;
      transform: rotate(-30deg) translateX(-45%);
      pointer-events: none;
      z-index: 999;
    }
}
  
@media (min-width: 1140){
    .lg\:dev-stamp-lg {
      position: absolute;
      top: 15%;
      left: 50%;
      font-size: 9rem;
      line-height: 1;
      opacity: 10%;
      transform: rotate(-30deg) translateX(-45%);
      pointer-events: none;
      z-index: 999;
    }
} */